<body>
    <h1>Add Employee</h1>
    <form action="/employeesMongoDB/add" method="POST">
        <label>Employee ID:</label>
        <input type="text" name="_id" required><br>
        <label>Phone Number:</label>
        <input type="number" name="phone" required><br>
        <label>Email:</label>
        <input type="email" name="email" required><br>
        <p></p>
        <input type="submit" value="Submit">

    </form>

    <p></p>
    <button onclick="window.location.href='http://localhost:3004/';">
        Home
    </button>
    <p></p>
    <button onclick="window.location.href='http://localhost:3004/employeesMongoDB';">
        List of Employees (MongoDB)
    </button>

</body>