<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!--Links to each page-->
    <h1>Home Page</h1>
        <button onclick="window.location.href='http://localhost:3004/employees';">
            Employees
        </button>
    <p>
        <button onclick="window.location.href='http://localhost:3004/department';">
            Department
        </button>
    <p>
        <p>
            <button onclick="window.location.href='http://localhost:3004/employeeDepartment';">
                Employee's Department
            </button>
        <p>
    <p>
        <button onclick="window.location.href='http://localhost:3004/location';">
            Location
        </button>
    <p>
    <button onclick="window.location.href='http://localhost:3004/employeesMongoDB';">
        Employees(MongoDB)
    </button>
</body>
</html>